@charset "UTF-8";

body{
    background-color: orange;
}

header{
    background-color: rgb(114, 228, 110);
}

main{
    margin-top: 5px;
    background-color: rgb(123, 172, 245);
    padding: 30px;
    border-radius: 10px;
}
div{
    width: 300px;
    height: 200px;;
}
footer{
    margin-top: 90%;
}