#secao{
    width: 500px;
    height: 200px;
    background-color: lightgrey;
    border: 2px solid black;
}
#caixa {
   width: 100%;
   padding: 30px;
   border: 2px solid red;

   box-sizing: border-box;
}