@charset "UTF-8";
body {
    background-color: #000000;
}

h1{
    color: #E50814;
    font-size: 36px;
}

p{
    color: #FFFFFF;
    font-size: 46px;
}

h2{
    color: #FFFFFF;
    font-size: 20px;
}

h3{
    color: #FFFFFF;
    font-size: 15px;
}